.discourse {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next row */
  justify-content: center; /* Center the content horizontally */
}

  
  .title {
    display: flex;
    justify-content: center;
  }
  
  .title h1 {
    color: navy;
    text-transform: uppercase;
    text-decoration: underline;
  }

