.singleDiscourse {
 
  width:1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.headerImage {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

.headerContent {
  margin-left: 70px;
  margin-top: 50px;
  flex: 1;
}
.headerContent h1{
  font-size: 40px;
}

.details {
  margin-top: 10px;
}

.details p{
  margin: 10px;
  font-size: larger;
}

.label {
  font-weight: bolder;
}



.content {
  margin-top: 20px;
}

.content h3{
  font-size: 25px;
}

.description {
  margin-bottom: 20px;
  width:900px;
  text-align: justify;
  line-height: 1.6;

}

.videoList {
  margin-top: 20px;
}

.videoCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.videoCard {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.videoThumbnail {
  width: 100%;
  height: auto;
}

.videoDetails {
  padding: 10px;
}

.videoTitle {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.videoDescription {
  margin-bottom: 10px;
}

.videoMeta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #555;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Adjust as necessary */
}

.sharingButtonsContainer {
  position: fixed;
  background-color: #dddddd5e;
  top: 50%;
  right: 10px; /* Adjust this value if you need more space from the right edge */
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.sharingButtonsContainer .MuiIconButton-root {
  margin: 10px 0;
}