.navbar{
    position: sticky;
    top: 0;
    background-color:#f7f7f7;
    z-index: 1;
    position: relative;
    width:100%;
}
.navbar_logo{
    color: red;
    background-color: lemonchiffon;
    height: 4.25rem;
    display: grid;
    place-items: center;
    width:100%;
}
.navbar_logo>img:nth-child(1){
    width: 300px;
    object-fit: contain;
}
.navbar_logo>a{
    width: 50px;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    cursor: pointer;
}
.navbar_logo>a>img{
    width: 100%;
}
.navbar_links{
    padding: 0.5rem 1rem;
   
    background-color: navy;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navbar_links >a {
 font-weight: bolder;
 text-decoration: none;
 color: white;
}
.navbar>hr{
    margin-top: 0.5rem;
    border-top: 5px solid #5E3729;
}

  .navbar_links a:hover {
    color: #ffffff;
    background-color: navy;
  }
  

  .navbar_links a:hover {
    transform: scale(1.1);
  }

  .navbar_links a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }