
/* App.css */


/* App.module.css */
body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
}



  
  .footer p {
    margin: 0;
  }
  
 *{
  margin:0;
 }